name: Docker Build Deploy

on:
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: run shell script
      run: echo commit hash is ${{ github.sha }}
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/ctse-shop-product:${{ github.sha }}


    - name: Azure Kubernetes set context
      uses: Azure/aks-set-context@v1
      with:
        creds: '${{secrets.AZURE_CREDENTIAL}}'
        resource-group: ctse-project
        cluster-name: microservice-ctse-cluster
        
    - name: Create secret in Kubernetes cluster
      uses: Azure/k8s-create-secret@v1.1
      with:
        container-registry-url: https://index.docker.io/v1/
        container-registry-username: '${{secrets.DOCKER_USERNAME}}'
        container-registry-password: '${{secrets.DOCKER_TOKEN}}'
        secret-type: docker-registry
        secret-name: docker-image-pull-secret

    - name: Deploy to Kubernetes cluster
      uses: Azure/k8s-deploy@v1
      with:
        manifests: |
          k8s/deploy.yml
          k8s/service.yml
        images: '${{secrets.DOCKER_USERNAME}}/ctse-shop-product:${{github.sha}}'
        imagepullsecrets: docker-image-pull-secret
        action: deploy
